*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 420px;
    height: 100vh;
    max-height: 745px;
    margin: 0 auto;
    background-color: moccasin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;
    box-shadow: 5px 5px 5px black;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: aqua;
}
#result{
 text-align: center;

}
#result img{
    width: 40%;
}
#start-text{
    font-size: 25px;
  
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 35px;
    padding: 20px;
}
#grupobtn{
    display: flex; /*todo junto*/
    width: 100%;
}
#grupobtn > button> img{
width: 100%;
}